In [10]:
#install connector api using the command below.
!pip install mysql-connector-python

# Import the MySQL Connector/Python
import mysql.connector as connector

# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="Password123", # use your own
                             db="LittleLemonDB"
                            )
print("Connection between MySQL and Python is established.\n")

WARNING: Ignoring invalid distribution -pp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -ipp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution - (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -pp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -ipp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution - (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
Requirement already satisfied: mysql-connector-python in /Users/thienle/.local/lib/python3.7/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Users/thienle/.local/lib/python3.7/site-packages (from mysql-connector-python) (3.20.3)
WARNING: Ignoring invalid distribution -pp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -ipp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution - (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -pp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -ipp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution - (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -pp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -ipp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution - (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -pp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution -ipp (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)
WARNING: Ignoring invalid distribution - (/Users/thienle/.pyenv/versions/3.7.13/lib/python3.7/site-packages)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip install --upgrade pip
Connection between MySQL and Python is established.

In [11]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")

Cursor is created to communicate with the MySQL using Python.

In [12]:
# Task 2
show_tables_query = "SHOW tables" 
results = cursor.execute(show_tables_query)
results = cursor.fetchall()
print(results)

[('Booking',), ('Customer',), ('DeliveryStatus',), ('Menu',), ('Order',), ('Order_Menu',), ('ordersview',), ('Staff',)]

In [17]:
# Task 3
query_str = """
Use LittleLemonDB;
SELECT c.CustomerID, c.Name, o.OrderID, o.TotalCost as Cost, m.Name as MenuName
FROM Customer as c JOIN Booking as b ON c.CustomerID = b.Customer_CustomerID
JOIN LittleLemonDB.Order as o On o.Booking_BookingID = b.BookingID
JOIN Order_Menu as om ON om.Order_OrderID = o.OrderID
JOIN Menu as m On m.MenuID = om.Menu_MenuID
WHERE o.TotalCost > 60
ORDER BY o.TotalCost ASC;
"""

cursor.execute(query_str)
results = cursor.fetchall()

# Printing results
print(cursor.column_names)
for row in results:
    print(row)

('CustomerID', 'Name', 'OrderID', 'Cost', 'MenuName')
(1, 'Alixia', 2, Decimal('200.00'), 'Courses')
(5, 'Max', 3, Decimal('240.00'), 'Courses')
(3, 'David', 4, Decimal('1200.00'), 'Cuisines')